.selectField {
    display: flex;
    flex-direction: column;

    &__label {
        margin: 8px 0px 16px;
    }

    &__select {
        height: 45px;
        margin-bottom: 8px;
        background-color: white;
        padding: 10px;
        line-height: 18px;
        border: none;

        &:required:invalid {
            color: #d3d3d3;
          }
        
          option[value=''][disabled] {
            display: none;
          }
        
          option {
            color: black;
          }
    }
    
}