.buttonLink {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    color: #DE1A15;
    background-color: #ffffff;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}