@import './__reset.scss';

$max-width: 470px;
$margin: 16px;

@mixin frameStyles {
    width: 100%;
    max-width: $max-width;
    margin: $margin auto;
  
    @media (max-width: 640px) {
      max-width: 100%;
    }
  }

body {
    font-family: "Poppins", sans-serif;
    background-color: #ff0000;
    padding: 24px;
}

a {
    text-decoration: none;
}

h1 {
    @media (max-width: 640px) {
        font-size: 24px;
    }
}

.mainPage {
   @include frameStyles;

    &__buttons {
        display: flex;
        justify-content: space-between;
        gap: 24px;
        margin: 34px 0 16px;
    }
}

.formPage {
    @include frameStyles;

    &__back {
        display: flex;
        align-items: center;
        color: white;
        margin: 10px 0;
        transition: 0.2s;
        display: inline-block;

        &:hover {
          transform: translateX(-3px);
        }

        &::first-letter {
            font-size: 14px;
          }
      }

      &__header {
        color: #ffffff;
        font-weight: 600;
        margin-bottom: 24px;
      }
   
}


