@import './__reset.scss';

body {
    font-family: "Poppins", sans-serif;
    background-color: #ff0000;
    padding: 24px;
}

a {
    text-decoration: none;
}

h1 {
    @media (max-width: 640px) {
        font-size: 24px;
    }
}

.main {
    width: 100%;
    max-width: 470px;
    margin: 16px auto;

    &__buttons {
        display: flex;
        justify-content: space-between;
        gap: 24px;
        margin-bottom: 16px;
    }

    @media (max-width: 640px) {
        max-width: 100%;
    }
}