.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;

    &__image {
        margin-right: 16px;

        @media (max-width: 640px) {
            width: 45px;
            height: 45px;
        }
    }

    &__text {
        color: #ffffff;
    }
}